Flask==1.0.2
Jinja2==2.10
MarkupSafe==1.0
Pebble==4.3.9
PyYAML==3.12
SQLAlchemy==1.2.8
Werkzeug==0.14.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
colorlog==3.1.4
idna==2.7
itsdangerous==0.24
requests==2.19.1
urllib3==1.26.5
