<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage" lang="en-US">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
		<meta name="description" content="UPPERSAFE Open Source Firewall"/>
		<meta name="keywords" content=""/>
		<meta name="author" content="Nicolas THIBAUT"/>
		<title>OSFW</title>
		<link rel="canonical" href=""/>
		<link rel="icon" href="/static/images/favicon.ico"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="/static/css/style.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
		<script src="/static/js/dashboard.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="#">OSFW - Dashboard</a>
			<a class="btn btn-dark" href="#"><span class="fa fa-power-off"></span></a>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-2 sidebar">
					<form>
						<div class="form-group">
							<label for="">Timeframe</label>
							<select class="form-control" name="timeframe">
								<option value="5m">Last 5 minutes</option>
								<option value="15m" selected="selected">Last 15 minutes</option>
								<option value="60m">Last 60 minutes</option>
								<option value="4h">Last 4 hours</option>
								<option value="12h">Last 12 hours</option>
								<option value="24h">Last 24 hours</option>
								<option value="7d">Last 7 days</option>
								<option value="15d">Last 15 days</option>
								<option value="30d">Last 30 days</option>
							</select>
						</div>
						<div class="form-group">
							<label for="">Port filters</label>
							<input class="form-control" type="text" name="matchonly"/>
						</div>
						<div class="form-group">
							<button class="btn btn-block btn-outline-primary refresh" type="submit">Update</button>
						</div>
					</form>
				</div>
				<div class="col-10 ml-auto main">
					<div class="jumbotron sheet">
						<canvas class="chart"></canvas>
					</div>
					<table class="table table-sm table-hover">
						<thead>
							<tr>
								<th>Datetime UTC</th>
								<th>Source</th>
								<th>Destination</th>
								<th class="text-right">Port</th>
							</tr>
						</thead>
						<tbody>
							<tr class="template">
								<td><code class="text-primary data-datetime"></code></td>
								<td><code class="text-dark data-source"></code></td>
								<td><code class="text-dark data-destination"></code></td>
								<td class="text-right"><span class="badge badge-secondary data-port"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
