<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage" lang="en-US">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <title>OSFW</title>
    <link rel="canonical" href=""/>
    <link rel="icon" href="/static/images/favicon.ico"/>
  </head>
  <body>UPPERSAFE Open Source Firewall - Web interface (work in progress)</body>
</html>
